<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Fullname</th>
      </tr>
    {%for i in karmel%}
      <tr>
        <td>{{i['first_name']}}</td>
        <td>{{i['last_name']}}</td>
        <td>{{i['first_name']}} {{i['last_name']}}</td>
      </tr>
    {%endfor%}
    </table>    
</body>
</html>