<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
</head>
<body>
    <div class="container">
        <h1>counter</h1>
        <h3 class="h5">you visit the page {{session["count"]}} times</h3>
        <form action="destroy" method="POST">
       <button><input type="reset" value="Reset"> reset Counter</button> 
        <button><input type="add" value="Add">add tow visit</button>
        </form> 

    </div>
</body>
</html>