<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Add an Author</h2>
    <form action='/add_author' method='post'>
        {% csrf_token %}
        <p>First Name: <input type="text" name="fname"></p>
        <p>Last Name: <input type="text" name="lname"></p>
        <p>Notes: <textarea name="notes"></textarea></p>
        <input type="submit" value="Add">
    </form>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for author in all_authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                <td><a href="/authors/{{ author.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>