<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{this_book.title}}</h1>
    <p>ID:{{this_book.id}}</p>
    <p>Description:{{this_book.desc}}</p>
    <p>Authors:</p>
    <ul>
        {% for auth in assoc_authors %}
        <li>{{ auth.first_name }} {{ auth.last_name }}</li>
        {% endfor %}
    </ul>
    <form action='/add_auth_to_book/{{ thisBook.id }}' method='post'>
        {% csrf_token %}
        <select name="auth_id">
            {% for auth in non_assoc_authors %}
            <option value="{{ auth.id }}">{{ auth.first_name }} {{ auth.last_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>