<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>survey</title>
</head>
<body>
    <center>
        <form action= "/result" method="POST">
        {%csrf_token %}
            <label for="name">Your Name:</label>
            <input type="text" name="name"><br>
            
            <lable for="location"> Dojo Location:</lable>   
            <select name="location"><br>
                <option>Hebron</option>
                <option>Ramallah</option>
                <option>Tulkarem</option>
            </select><br>
    
            <lable for="favLanguage"> Favorite Language:</lable>
            <select name="favLanguage"><br>
                <option>python</option>
                <option>Html</option>
                <option>C++</option>
            </select><br>

            <label for="comment">comment (optinal):</label><br>
            <textarea  name="comment" rows="4" cols="50"></textarea><br>

            <input type="submit" value="Submit">
                
        </form>
    </center>   
</body>
</html>