<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojo survey index</title>
</head>
<body>
        <form action='/results' method='post'>
            Your Name: <input type='text' name='name'><br>
            <label for="dojo_location">Dojo location:</label>
            <select name="dojo_location" id="dojo_location">
                <option value="nablus">Nablus</option>
                <option value="ramallah">Ramallah</option>
                <option value="tulkarem">Tulkarem</option>
            </select><br>
            <label for="favorite_language">favorite language:</label>
            <select name="favorite_language" id="favorite_language">
                <option value="python">python</option>
                <option value="java">java</option>
                <option value="c++">c++</option>
            </select><br>
            <label for="comment">comment(optional):</label>
            <textarea id="comment" name="comment" rows="4" cols="50">
                </textarea>
        <input type='submit' value='Button'>
        </form>
    
</body>
</html>