<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><u>submitted info</u></p>
    <p>name: {{name_on_template}}</p>
    <p>dojo location: {{dojo_location_on_template}}</p>
    <p>favorite language: {{favoriate_language_on_template}}</p>
    <p>comment: {{comment_on_template}}</p>
    <input type='submit' value='Go Back'>
</body>
</html>