<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>All The Users</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
    {% for i in user %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.email_address}}</td>
            <td>{{i.age}}</td>
        </tr>
    {%endfor%}
    </table> 
<div>
</div> 
<form action="form" method="post">
    {% csrf_token %}
    <h1>Add a User</h1>
    <label for="fname">First Name </label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Last Name </label>
    <input type="text" id="lname" name="lname"><br>
    <lable for ="Email">Email </lable>
    <input type="email" id="email" name="Email">
    <lable for ="age">Age </lable>
    <input type="number" id="age" name="Age"><br>
    <input type="submit" value="Add">
</form>


</body>
</html>